<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.2.0" targetFramework="net462" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net462" />
  <package id="MassTransit" version="3.4.1" targetFramework="net462" />
  <package id="MassTransit.Autofac" version="3.4.1" targetFramework="net462" />
  <package id="MassTransit.RabbitMQ" version="3.4.1" targetFramework="net462" />
  <package id="NewId" version="2.1.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net462" />
  <package id="Sds.Storage.KeyValue.Core" version="1.0.6" targetFramework="net462" />
  <package id="Sds.Storage.KeyValue.Redis" version="1.0.7" targetFramework="net462" />
  <package id="Serilog" version="2.3.0" targetFramework="net462" />
  <package id="Serilog.Settings.AppSettings" version="2.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="3.1.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Literate" version="2.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.RollingFile" version="3.2.0" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net462" />
</packages>